      @font-face {
          font-family: pagefont;
          src: url(font.ttf);
      }
      
      * {
          font-family: pagefont;
      }
      
      html,
      body {
          margin: 0px;
          padding: 0px;
          height: 100%;
      }
      
      body {
          background-color: rgba(10, 10, 86, 0.902);
      }
      
      a {
          color: gold;
          text-decoration: none;
      }
      
      .bod {
          background-color: rgba(10, 10, 86, 0.902);
          width: 100%;
          margin-left: auto;
          margin-right: auto;
      }
      
      .up {
          background: gold;
          width: 100%;
          max-height: 20%;
          margin-top: 1%;
          margin-bottom: 1%;
          position: relative;
      }
      
      .right {
          display: block;
          margin-right: 2%;
          text-align: right;
          margin-left: 0;
      }
      
      .left {
          font-size: 200%;
          margin: 0;
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          display: inline-block;
          margin-left: 2%;
          text-align: left;
          margin-right: 0;
          text-decoration: underline;
          text-decoration-style: double;
          text-shadow: 2px 2px rgb(48, 139, 139);
          color: rgb(20, 37, 187);
          width: 10%;
          height: auto;
      }
      
      #nick {
          font-size: 400%;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-decoration: underline;
          text-decoration-style: double;
          text-shadow: 2px 2px rgb(48, 139, 139);
          color: rgb(20, 37, 187);
      }
      
      .container {
          position: relative;
      }
      
      .boxtext {
          background-color: #e06818f6;
          color: rgb(2, 19, 255);
          font-style: bold;
          font-size: 16px;
          padding: 16px 32px;
          border-style: double;
          border-radius: 5px;
          transition: .5s ease;
      }
      
      .boxtext:hover {
          border-style: groove;
          background-color: #ff0101;
          color: rgb(2, 175, 255);
      }
      
      .middle {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
      }
      
      .parent {
          display: flex;
          flex-wrap: wrap;
          justify-content: justify;
      }
      
      .box {
          flex: 1 1 18%;
          margin: 10px;
          border-radius: 20px;
          width: 15%;
          height: auto;
      }
      
      .container:hover .middle {
          opacity: 1;
      }
      
      img.box {
          flex: 1 1 150px;
          margin: auto;
          border-radius: 10px;
          width: 100%;
          transition: .5s ease;
          backface-visibility: hidden;
          display: block;
      }
      
      img.box:hover {
          filter: blur(3px);
          border-radius: 40px;
      }
      
      input[type=submit]:hover {
          background-color: #2db7cfab;
          color: rgb(216, 42, 42)
      }
      
      input[type=button],
      input[type=submit],
      input[type=reset] {
          transition: .5s ease;
          background-color: #942dcfab;
          border: none;
          color: rgb(230, 233, 36);
          padding: 16px 32px;
          text-decoration: bold;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 10px;
          width: 20vw;
          font-size: 0.8vw;
      }
      
      input[type=text],
      input[type=password] {
          height: 3vh;
          width: 10vw;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          background-color: white;
          background-repeat: no-repeat;
          transition: width 0.4s ease-in-out;
      }
      
      input[type=text]:focus,
      input[type=password]:focus {
          width: 20vw;
          background-color: lightgrey;
      }
      
      .pagetxt {
          color: gold;
      }
      
      .center2 {
          display: grid;
          place-items: center;
      }
      
      .center {
          text-align: center;
          width: 40vw;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          border-color: gold;
          border-style: double;
          border-width: thick;
          padding-bottom: 5%;
      }
      
      h1 {
          font-size: 7vw;
      }
      
      .history {
          float: right;
          margin-left: 30px;
      }
      
      input[type=submit].history {
          top: 50%;
          text-shadow: 1px 1px rgb(28 105 81);
          -ms-transform: translateY(-50%, -50%);
          transform: translateY(-50%, -50%);
          background-color: rgb(212 65 14 / 0%);
          color: rgb(59 255 147);
          border-radius: 5px;
          border-style: double;
          width: 25vw;
          height: 8vh;
          font-size: 1.25vw;
      }
      
      input[type=submit].history:hover {
          transition: .4s ease;
          background-color: rgb(199, 54, 41);
      }
      
      .clock {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          color: rgba(10, 10, 86, 0.902);
          font-size: 60px;
          letter-spacing: 7px;
      }